html {
    height: 100%;
    background-color: #E9ECEF !important;
}

body {
    height: 100%;
    background-color: #E9ECEF !important;
}

.centerFit {
  background:#467b9d;
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 15px 50px;
  padding: 40px;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.loader {
    position:absolute;
    top:50%;
    left:47%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #467b9d;
    color: white;
    text-align: center;
}